body {
	padding: 0;
	margin: 0;
  	width: 100%;
  	height: 100vh; 
}

img {
	width: 100%;
	height: 100%;
	position: relative;
}

.boton {
	position: absolute;
	top: 80%;
	width: 80%;
    height: 300px;
    left: 13%;
}

