body {
  padding: 0;
  margin: 0;
  width: 100%;
}
.eye{
  position:absolute;
  height:200px;
  width:200px;
  top: 40px;
  left : 40px;
  z-index: 1;
}

.brazo {
  position:absolute;
  height:311px;
  width:317px;
  width: 90%;
  height: 900px;
}

.foto {
  position: relative; 
  left: 0; 
  top: 0;
}
.volver, .iconoNav {
  color:  #FFF;
  font-size: 80px;
}

header {
  width: 100%;
  padding: 40px 0 40px 0;
  margin-bottom: 20px;
  background-color: #37d3f8;
}

.navegador {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.logo {
  font-family: TeachersStudent;
  color: #FFF;
  width: 100%;
  font-size: 60px !important;
}
.rutina {
  font-family: OpenSans;
  color: #31aefc;
  width: 100%;
  font-size: 60px !important;
}
.icono {
  font-size: 90px !important;
}

.contenedor {
  width: 90%
  padding: 0 !important;
}
.primerFondo {

  background-color: #004b5d;
  /*background-color: #004b5d;*/
  margin: 20px 0 20px 0;
  border-radius: 20px;
  height: 1150px;
}
.fondo {
  background-image: url('../../assets/images/bg_game.png');
  border-radius: 20px;
  height: 900px;
}

.ultimo {
  margin-bottom: 200px
}

footer {
  background-color: #ffffff;
  position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
  margin-top: 30px;
  border-top: solid #e4e4e4 2px;
}
.icono {
  color:  #bebebe;
  font-size: 80px;
}
.navMenu-01, .navMenu-02, .navMenu-03 {
  color:  #bebebe;
  font-size:  45px;
}

.active {
  background-color: #37d3f8;
  color:  #ffffff;
  font-size:  45px;
}
.btn {
  position: relative;
  margin-top:94%;
  width: 90%;
  height: 250px;
}

.menu-02 i {
  color:  #ffffff;
}
.menu-02 p {
  color:  #ffffff;
}

.fondoFooter {
  background-color: #ffffff;
}
